.new-tweet {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  padding-top: 1.5em;
}

.new-tweet-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #0c0707;
  margin-top: 1rem;
  font-family: 'Bungee', cursive;
  padding-top: 1rem;
}

.text-patch {
  border: none;
  background-color: #293252;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.counter {
  margin-left: auto;
}
.counter-red {
  margin-left: auto;
  color: red;
}

.tweeter button {
  margin-left: 1rem;
}